[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "lib/cpr"]
	path = lib/cpr
	url = https://github.com/whoshuu/cpr
[submodule "lib/base-n"]
	path = lib/base-n
	url = https://github.com/azawadzki/base-n
